.add-new-btn{
	float: right;
}
label.error{
	color:#de3f3f;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader3.gif') 50% 50% no-repeat rgb(249,249,249);
	opacity: .8;
}
.usertrainer-cls{
	/*margin: 0px 0px 0px 681px;*/
	float: right;
}
div.ms-options ul{
	min-height: 200px;
	overflow: auto;
	display: block;
	max-height: 200px;
	list-style-type: none;
	margin: 0px 0px 0px -31px;
}
.dataTables_filter {
	width: auto;
	float: right;
	/*text-align: right;*/
}
.trainermanagement-cls{
	width: 100%;
}
.user-act-cls{
	width: 100% !important;
}
.submit-cls{
	float: right;
}
.blog-cls{
	width: 100%;
}
.timeavailability-cls {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #26b99a;
    margin: 0px 10px 0px 0px;
}
.ui-timepicker-standard{
    z-index: 99999 !important;
}
.actoin-txt{
    text-align: center;
    font-weight: 500;
    color: black;
}
.p-cls{
    text-align: center;
    font-size: 16px;
}
.edit-btn{
	margin: 0px 30px 5px 220px;
}
.trainer-avila-cls{
	margin: 30px 0px 0px 0px;
}